<h2 mat-dialog-title>Mechanical vs. Chemical Digestion</h2>
<mat-dialog-content>
  <p>
    Mechanical digestion is the breakdown of food into smaller pieces without
    changing the actual molecules. Chemical digestion is where the food is
    broken down by enzymes into small, soluble enzymes so that the nutrients can
    be absorbed.
    <br />
    An example of mechanical digestion is when the mouth chews food. The food
    molecules don't actually change, but the food is broken down into smaller
    pieces.
    <br />
    An example of chemical digestion is when food is broken down in the stomach
    by stomach acid. The food is now almost fully broken down, and can be passed
    to the small and large intestines to have its nutrients absorbed.
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
