<div>
  <button
    class="digestion-comparison-button"
    mat-flat-button
    color="primary"
    (click)="openDigestionComparisonDialog()"
  >
    Mechanical vs. Chemical Digestion
  </button>
</div>
<main>
  <div class="explanations">
    <app-explanation title="Salivary Gland">
      The salivary gland produces saliva, which contains amylase, which breaks
      down carbohydrates into simple sugars.
    </app-explanation>
    <app-explanation title="Chief Cells">
      Chief cells produce pepsin, which breaks down protein molecules into amino
      acids. Pepsin works best in an acidic environment, such as the stomach.
    </app-explanation>
    <app-explanation title="Parietal Cells">
      The parietal cells produce hydrochloric acid, which increases the acidity
      in the stomach, which helps pepsin.
    </app-explanation>
    <app-explanation title="Liver">
      The liver makes bile, which primarily digests fats.
    </app-explanation>
    <app-explanation title="Gallbladder">
      The gallbladder stores bile after it has been produced by the liver.
    </app-explanation>
    <app-explanation title="Pancreas">
      The pancreas produces pancreatic juice. This juice contains many enzymes
      required for digestion. This juice is then the delivered to the small
      intestine. The pancreas also secretes insulin and glucagon into the
      bloodstream to regulate glucose levels in the blood.
    </app-explanation>
  </div>
  <app-digestive-image></app-digestive-image>
  <div class="explanations">
    <app-explanation title="Mouth">
      The mouth contains teeth, and uses mechanical digestion to break down food
      into smaller chunks. The tongue (also in the mouth) then pushes the food
      down into the esophagus.
    </app-explanation>
    <app-explanation title="Esophagus">
      The esophagus is the tube that carries food from the mouth to the stomach.
      The esophagus is lined with mucus, which is used as a lubricant. The
      esophagus uses a process called peristalsis to move the food.
    </app-explanation>
    <br />
    <br />
    <br />
    <app-explanation title="Stomach">
      The stomach is a pouch that contains stomach acid (also called gastric
      acid). This acid preforms chemical digestion, which further breaks down
      the food using pepsin, rennin and lipase so it can be absorbed. The
      stomach is protected by a layer of mucus, so the acid doesn't burn through
      the sides.
    </app-explanation>
    <app-explanation title="Duodenum">
      The duodenum further breaks down the food, and starts absorbing the
      nutrients. The small intestine is linned with villi and microvilli. Theses
      are almost hair shaped, and increase the surface area to help with
      absorption.
    </app-explanation>
    <app-explanation title="Jejunum/Ileum">
      The jejunum is another part of the small intestine. The jejunum makes up a
      majority of the small intestines length, being around 6 meters in length.
      The jejunum does a similar thing as the duodenum, absorbing nutrients and
      further breaking down food. The jejunum also has villi along the insides.
    </app-explanation>
    <app-explanation title="Large Intestine">
      The large intestine absorbs primarily water and vitiman K. The large
      intestine also releases bacteria that breaks down fiber.
    </app-explanation>
    <app-explanation title="Rectum">
      The rectum stores the waste and also compacts it so it is ready to be
      realeased from the anus.
    </app-explanation>
    <app-explanation title="Anus">
      The anus is a small opening at the end of the digestive tract that
      releases waste.
    </app-explanation>
  </div>
</main>
