<section style="position: relative;">
  <img
    [src]="
    'https://firebasestorage.googleapis.com/v0/b/harry-school-projects.appspot.com/o/digestive%20system.png?alt=media&token=ecf97ba0-9351-4bf9-b854-94274820675c'
  "
    alt="The Digestive System"
    id="digestive-image"
    width="300"
  />
  <div
    class="mouth-tooltip"
    style="position: absolute; top: 0; left: 0; width: 80px; height: 120px;"
    matTooltip="Mouth"
  ></div>
  <div
    class="salivary-gland-tooltip"
    style="position: absolute; top: 30px; left: 80px; width: 50px; height: 75px"
    matTooltip="Salivary Gland"
  ></div>
  <div
    class="esophagus-tooltip"
    matTooltip="Esophagus"
    style="position: absolute; top: 120px; left:80px; width: 100px; height: 200px"
    [matTooltipPosition]="'left'"
  ></div>
  <div
    class="liver-tooltip"
    matTooltip="Liver"
    style="position: absolute; top: 320px; left: 0; width: 160px; height: 100px;"
  ></div>
  <div
    class="stomach-tooltip"
    matTooltip="Stomach"
    style="width: 100px; height: 100px; top: 360px; left: 160px; position: absolute"
  ></div>
  <div class="small-intestine-tooltitp" matTooltip="Small Intestine"></div>
</section>
